

<div class="anchors">
<a class="dropdown-item" href="/news/entertainment">Entertainment</a>

<a class="dropdown-item" href="/news/health">Health</a>
<a class="dropdown-item" href="/news/technology">Technology</a>
<a class="dropdown-item" href="/news/sports">Sports</a>
</div>



    
<div class="header__search">
    <form action="/" method="POST">
        <input type="text" name="search" placeholder="Search for news" required>
        <input type="submit" value="Search">
    </form>
</div>